.form-card{
    background-color: white;
    position: absolute;
    border-radius: 5px;
    /* box-shadow: 8px 8px 5px 5px #596367; */
    box-shadow: 0 8px 12px #6f749a14, 0 3px 16px #6f749a14, 0 5px 7px #6f749a1f;
    padding: 3%;
}

#loginScreen,#signUpScreen,#roleScreen{
    height:100vh;
    /* background-color: #fbfbfd; */
    background-color: #75b9e6;
    padding-top : 5%
}

#userScreen{
    height:180vh;
    /* background-color: #fbfbfd; */
    background-color: #75b9e6;
    padding-top : 5%
}

#login-form-card{
    height:65vh;
    left: 32%;
    width: 40%;
    top: 15%;
}

#signUp-form-card{
    left: 21%;
    width: 60%;
    top: 10%;
    height:85vh;
}

#roleScreen-card{
    left: 30%;
    width: 40%;
    top: 20%;
    height:60vh;
}

#userScreen-card{
    position : relative;
    left: 30%;
    width: 40%;
    /* top: 50%; */
    /* bottom: 5%;
    height:111vh; */
}

.heading{
    margin-left: 13%;
}

#loginHeading,#signUpHeading{
    margin-left:37%
}

#roleHeading,#userHeading{
    margin-left:30%
}

.loginAndSignUpBtn{
    padding: 8px 73px 8px 72px;
}

.resetBtn{
    padding:8px 90px 8px 90px;
}

.errorMsg{
    color:red
}