#mainCardScreen{
    position: inherit;
    margin-left: 10%;
    margin-top: 7%;
    left: 120px;
    top: 46px;
    right: 0;
    bottom: 0;
}

.nav-pills .nav-link.active{
    background-color: rgb(43 128 255) !important;
    color: whitesmoke !important;
    
}